extends layout

block content
  h1= title
  p Welcome to #{title}
  input(type="text" name='Plaftorm' placeholder='Plaftorm')
  input(type="text" name='version' placeholder='19.0')
  input(type="text" name='TestName' placeholder='TestName')